{% extends 'base.html' %}
{% block title %}Selecione o Dia{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="list-group">
                    <a href="{% url 'dia_da_semana' 'segunda' %}" class="list-group-item list-group-item-action">Segunda-feira</a>
                    <a href="{% url 'dia_da_semana' 'terca' %}" class="list-group-item list-group-item-action">Terça-feira</a>
                    <a href="{% url 'dia_da_semana' 'quarta' %}" class="list-group-item list-group-item-action">Quarta-feira</a>
                    <a href="{% url 'dia_da_semana' 'quinta' %}" class="list-group-item list-group-item-action">Quinta-feira</a>
                    <a href="{% url 'dia_da_semana' 'sexta' %}" class="list-group-item list-group-item-action">Sexta-feira</a>
                    <a href="{% url 'dia_da_semana' 'sabado' %}" class="list-group-item list-group-item-action">Sábado</a>
                    <a href="{% url 'dia_da_semana' 'domingo' %}" class="list-group-item list-group-item-action">Domingo</a>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-between">
                <!-- Botão "Sair" -->
                <a href="{% url 'confirm_logout' %}" class="btn btn-light">
                    Sair da Conta
                </a>
                <!-- Botão "Excluir Conta" -->
                <a href="{% url 'delete_account' %}" class="btn btn-danger">
                    Excluir Conta
                </a>
            </div>
        </div>
    </div>
{% endblock %}
